* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to bottom right, #ff00ff, #ff6600, #00ffcc);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.full {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.textarea {
    width: 320px;
    height: 45px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    display: flex;
    align-items: center;
    padding: 5px;
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.3);
    transition: 0.3s ease-in-out;
    border: 2px solid rgba(255, 255, 255, 0.4);
}

.textarea:hover {
    transform: scale(1.05);
    border-color: white;
}

.txt {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
    padding-left: 10px;
    outline: none;
    color: white;
}

.copy-symbol {
    cursor: pointer;
    transition: 0.3s;
    padding: 8px;
    border-radius: 50%;
    color: white;
}

.copy-symbol:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

.main-function {
    padding: 20px;
    width: 340px;
    background: linear-gradient(135deg, #ff00ff, #ff6600);
    border-radius: 15px;
    margin-top: 15px;
    text-align: center;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
    transition: 0.3s ease-in-out;
    border: 2px solid white;
}

.main-function:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 20px rgba(255, 255, 255, 0.5);
}

h3 {
    font-size: 28px;
    color: white;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.inp {
    font-size: 16px;
    font-weight: 500;
    color: white;
}

input[type="range"] {
    accent-color: #ff6600;
    cursor: pointer;
    width: 90%;
    margin: 10px auto;
    display: block;
}

.inp div input[type="checkbox"] {
    margin-left: 10px;
}

.inp label {
    display: inline-block;
    margin-right: 10px;
    padding: 6px 12px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.inp label:hover {
    background: rgba(255, 255, 255, 0.4);
}

.pass {
    width: 90%;
    height: 40px;
    margin-left: 13px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(45deg, #ff00ff, #ff6600);
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 10px;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0px 4px 12px rgba(255, 0, 255, 0.5);
    border: 2px solid white;
}

.pass:hover {
    background: linear-gradient(45deg, #ff6600, #ff00ff);
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(255, 255, 255, 0.5);
}
